python-dateutil>=2.5.3
ibpy2>=0.8.0
ezibpy>=1.12.66
flask>=0.11.1
nexmo>=1.2.0
numpy>=1.11.1
pandas>=0.22.0
pymysql>=0.7.6
pytz>=2016.6.1
requests>=2.10.0
twilio>=6.0.0
pyzmq>=15.2.1
beautifulsoup4>=4.7.1
